body {
    margin: 0;
    text-align: center;
    font-family: 'Text Me One', sans-serif;
    font-size: 200%;


}





h1 {

    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Caveat', cursive;
    color: bisque;
    margin-top: 50px;
    margin-left: 650px;
    font-weight: lighter;
}



h2 {

    font-family: 'Caveat', cursive;
    color: #66BFBF;
    font-weight: normal;
}

h3 {


    font-family: 'Caveat', cursive;
    color: #66BFBF;
}

p {



    font-family: 'Text Me One', sans-serif;



}




.top-container {


    
    position: relative;
    padding: 200px;
    line-height: 2;
    background-image: url("images/background.jpg");

}

.bottom-container {

    height: 300px;
    background-color: #66BFBF;

}

.middle-container {}

.dev {

    text-decoration: underline;

}



.cloud1 {

    position: absolute;
    top: 50px;
    right: 300px;


}

.cloud2 {

    position: absolute;
    left: 300px;
    bottom: 300px;



}

.profile {


    width: 15%;
    display: inline-block;
    margin-top: 60px;


}

.family-img {


    width: 15%;
    display: inline-block;
    margin-top: 60px;


}



.family {


    display: inline-block;


}

.instagram {



    height: 50px;
    width: 50px;
    display: inline-block;

}

.twit {

    height: 50px;
    width: 50px;




}

.mail {

    height: 50px;
    width: 50px;




}

.dev-row {

    font-size: 2.5rem;
    color: #66BFBF;

}

.skill-row {

    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;



}

.CSS {

    width: 25%;
    margin-top: auto;
    float: right;
    margin-right: 30px;

}

.python {

    width: 25%;
    float: left;
    margin-right: 30px;

}


hr {
    width: 10%;
    border: 10px dotted;
    border-style: none none dotted;
    color: #EAF6F6;
    padding: 3%;
}

.developer {

    color: bisque;

    margin-left: 650px;


}
